:root {
  --blue: #03396c;
  --cyan-blue: #B3CDE0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: .5em 2em;
  background-color: var(--blue);
  top: 0;
  left: 0;
  width: 100%;
}

.links {
  display: flex;
  list-style: none;
}

.links a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--cyan-blue);
  transition: 1s;
  border-radius: 5px;
  padding: .2rem;
}

.links a:hover{
  color: #fff;
  transition: 1s;
  animation: borderRunning 1s infinite linear 1s;
}

/*Main*/
input {
  margin: 1rem;
}

.logo {
  height: 3rem;
  width: 3rem;
}

@keyframes borderRunning {
  0%{
    border-bottom: 3px solid #fff;
    transition: linear;
  }
  25%{
    border-bottom: 0 solid #ffffff00;
    border-left: 3px solid #fff;
    transition: linear;
  }
  50%{
    border-left: 0 solid #ffffff00;
    border-top: 3px solid #fff;
    transition: linear;
  }
  75%{
    border-left: 0 solid #ffffff00;
    border-right: 3px solid #fff;
    transition: linear;
  }
  100%{
    border-right: 0 solid #ffffff00;
    border-bottom: 3px solid #fff;
    transition: linear;
  }
}